<app-root-side-var></app-root-side-var>

<div class="relative md:ml-64">
    <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4" style="padding-bottom: 5vh;" *ngFor="let carpeta of carpetasUsuario">
            <app-card-stats
            statSubtitle={{carpeta.fecha_creacion}}
            statTitle={{carpeta.nombre}}
            statArrow="up"
            statPercent={{carpeta.archivos.length}}
            statPercentColor="text-emerald-500"
            statDescripiron="Archivos"
            statIconName="fas fa-folder"
            statIconColor={{carpeta.iconColor}}
            (click)="selectFolder(carpeta)"
            (dblclick)="getIntoFolder(carpeta.id)"
            ></app-card-stats>
        </div>
    </div>
</div>

<div class="relative md:ml-64">
    <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4" style="padding-bottom: 5vh;" *ngFor="let file of filesFolder">
            <app-card-stats
            statSubtitle={{file.fecha_subida}}
            statTitle={{file.nombre_archivo}}
            statArrow="up"
            statPercent=""
            statPercentColor="text-emerald-500"
            statDescripiron={{file.extension}}
            statIconName="fas fa-file"
            statIconColor={{file.iconColor}}
            (click)="selectFile(file)"
            (dblclick)="getIntoFile(file)"
            ></app-card-stats>
        </div>
    </div>
</div>

  